<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hi <%= @receiver.email %>,
    <p>You have a new message from <%= @sender.email %></p>
    <p>
      <%= @message.content %>
    </p>
  </body>
</html>