<div class="row">
  <div class="col-md-12">
    <div class="well message-box">
      <%@conversations.each do |conversation| %>
        <%= link_to User.find(conversation.first).email, "#", class: "conv-user" %>
        <div class="display-none conv-detail">
          <%conversation.last.each_with_index do |message, index| %>
            <%= message.sender_id == current_user.id ? "Me" : message.sender.email %>
            <%=message.content%>
            <br><br>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%=link_to "Send Message", new_message_path %>
