<div class="row">
  <div class="col-md-12">
    <div class="well message-box">
      <%= form_for @message do |f| %>
        <div class="form-group">
          <%= f.text_field :receiver_id, placeholder: 'Email', class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.text_area :content, placeholder: 'Please write you message here', class: "form-control", rows: "10" %>
        </div>
        <div class="form-group">
          <%= f.submit 'Send', class: "form-control btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
