<div class="col-md-10">
  <div class="row margin-top-10"><strong><%= @user.artist_full_name.titlecase %></strong></div>
  <div class="row margin-top-10"><strong><%= @user.email %></strong></div>
  <div class="row margin-top-10"><strong><%= @user.artist_music_genre  %></strong></div>
</div>