<div class="col-md-10">
  <div class="row margin-top-10"><strong><%= current_user.artist_full_name.titlecase %></strong></div>
  <div class="row margin-top-10"><strong><%= current_user.email %></strong></div>
  <div class="row margin-top-10"><strong><%= current_user.artist_music_genre  %></strong></div>
</div>