<nav class="navbar navbar-fixed-top header">
  <div class="col-md-12">
        <div class="navbar-header">
          
          <a href="#" class="navbar-brand">Top Cat</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
          <i class="glyphicon glyphicon-search"></i>
          </button>
      
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse1">
          <form class="navbar-form pull-left">
              <div class="input-group" style="max-width:470px;">
                <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                <div class="input-group-btn">
                  <button class="btn btn-default btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
          </form>
          <ul class="nav navbar-nav navbar-left">
             <li><a href="#" >Talents</a></li>
             <li><a href="#" >Clients</a></li>
             <li><a href="#" >Events</a></li>
             <li><a href="#" >About</a></li>
             <li><a href="#" >Contact Us</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
             <li><%=link_to "Login", new_user_session_path %></li>
             <li><%= link_to "Signup", new_user_registration_path, class: 'btn btn-primary' %></li>
           </ul>
        </div>  
     </div> 
</nav>
