<div class="col-md-12">
  <div class="video-list">
    <% videos.each do |video| %>
      <div class="col-md-4 margin-top-20 margin-bottom-20">
        <% video_url = VideoInfo.new(video.video_url).embed_code %>
        <%= video_url.html_safe %>
      </div>
    <% end %>
  </div>
</div>