<div class="col-md-10">
  <div class="row margin-top-10"><strong><%= current_user.client_company_name.titlecase %></strong></div>
  <div class="row margin-top-10"><strong><%= current_user.client_company_email %></strong></div>
</div>