.tt-dropdown-menu, .gist {
    text-align: left;
}

.tt-query, .tt-hint {
    border: 2px solid #48a9c4;
    border-radius: 4px 4px 4px 4px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 396px;
}

.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999999;
}
.tt-dropdown-menu {
    color: #2c3e50;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    padding: 8px 0;
    width: 422px;
}

.tt-suggestion {
    font-size: 18px;
    line-height: 24px;
    padding: 3px 20px;
}
.tt-suggestion.tt-cursor {
    background-color: #48a9c4;
    color: #2c3e50;
}
.tt-suggestion p {
    margin: 0;
}
.gist {
    font-size: 14px;
}